<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>About US</h1>
            <p>Investing in the future of our staff is an honor we don’t take lightly. We give people the opportunities they need to shine. And over the years we’ve seen amazing stories of success come from the most unsuspecting heroes.</p>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>

</html>