<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is cool!</h1>
            <p>A demo application using MongoDB, Express and node.js</p>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>
</body>

</html>